<h1>Articles Page</h1>
<table>
    <thead>
        <tr>
            <th><b>Title</b> </th>
            <th><b>Description</b></th>
            <th colspan="3"><b>Actions</b></th>
        </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.Description %></td>
            <td><%=link_to 'Show' ,article_path(article) %></td>
            <td><%=link_to 'Edit' ,edit_article_path(article)%></td>
            <td><%= link_to 'Delete' , article_path(article) , data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %></td>
        </tr>
    </tbody>
    <% end %>

</table>
<h3>Need to create a new Article?</h3>
<%= link_to 'Create A New Article',new_article_path %>
